@media all and (orientation: portrait) {
    .main-content {
        flex-direction: row;
        overflow: hidden;
    }
    .panel-header {
        align-items: center;
        justify-content: center;
    }
}

:root {
    --prim1: #4A6A61;
    --prim2: #FEFFF3;
    --seco1: #F1F3F1;
    --high: #FFC450;
    --background: #FEFFF3;
}

.panel {
    color: var(--prim1);
    border: 1px solid var(--prim1);
    padding:2px;
    width:40%;
    align-self: center;
}

.panel-header {
    background-color: var(--seco1);
    margin-top: 0px;
    display: flex;
    padding:0;
    font-size: 60%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.button button {
    background-color: green;
    color: white;
    font-family: Verdana;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.col-header {
    border:solid 1px;
    width: 100%;
}

button:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}

button:active {
    background-color: green;
    color: white;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--prim1);
    margin-bottom: 10px;
}