:root {
    --prim1: #4A6A61;
    --prim2: #FEFFF3;
    --seco1: #F1F3F1;
    --high: #FFC450;
    --background: #FEFFF3;
}

body {
    margin: 0px;
    background-color: black;
}

span {
    font-size: 75%;
}

.dot-container{
    height: 3px;
    letter-spacing: 0px;
}

.information-container {
    background-color: #FEFFF3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-self: center;
    background-color: rgba(250, 250, 250, 0.5);
}

.information-container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    border: var(--prim1) solid 4px;
    padding: 10px;
}

.information-container .close {
	position: absolute;
	top: 10px;
	right: 10px;
    font-size: 30px;
    color: red;
    cursor: pointer;
}

.increment-display {
    display: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    position: absolute;
    left: 80%;
}

#delete-me {
    height: 100vh;
}

#tag-data {
    display: none;
}

