@media all and (orientation: portrait) {
    .main-content {
        flex-direction: row;
        overflow: hidden;
    }
}

:root {
    --prim1: #4A6A61;
    --prim2: #FEFFF3;
    --seco1: #F1F3F1;
    --high: #FFC450;
    --background: #FEFFF3;
}

body {
    font-family: Verdana;
    color:#4A6A61;
    display:flex;
    flex-direction: column;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
} 

a {
    color: var(--high);
    font-size: 16px;
}

a:hover {
    transform: scale(1.15);
}

p {
    font-size: 108%;
    line-height: 1.35;
    }

button {
    background-color: var(--high);
    color: var(--prim1);
    font-family: Verdana;
    border: solid 2px var(--prim1);
    border-radius: 6px;
    font-size: 108%;
}
button:hover {
    background-color: var(--high);
}

.container {
    background-color: var(--background);
    color: var(--prim1);
    width: 80%;
    margin: auto;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 10px  solid var(--seco1);
    display: block;
    overflow: hidden;
}

.link-header {
    display: flex;
    justify-content: space-between;
    }

.title {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 0;
    }


.post-text{
    text-indent: 5%;
    }
    

.link-header > a {
    display:inline;

}

.title + p {
    font-size:80%;
    text-align: center;
    margin-top: 2px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-bottom: 25px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.image-frame {
    position: relative;
    text-align: center;
    border: 5px  solid var(--seco1);
}

.image-description {
    font-size: smaller;
    position: absolute;
    bottom: 101%;
    width: 100%;
    text-align: center;
}

.post-image {
    width:100%;
}

.tag-data {
    display: none;
}
.data-all-posts {
    display: none;
}

#widths {
    width: 25%;
    height: auto;
    float: left;
    padding-right: 15px;
}
            
    
#center {
    text-align:center;
}

#hide {
    visibility: hidden;
}